@model Session.ViewModels.SessionClassViewModel

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery.datetimepicker.css" rel="stylesheet" />

@*<script src="~/Scripts/jquery-ui.js"></script>*@
<script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4> Session </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datetime-picker" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datetime-picker" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SessionTopicID, "Session Topic", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SessionTopicID", (IEnumerable<SelectListItem>)ViewBag.topicItems, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SessionTopicID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SessionRoomID, "Session Room", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SessionRoomID", (IEnumerable<SelectListItem>)ViewBag.roomItems, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SessionRoomID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<!-- Code to wire up  DatePicker -->
<script type="text/javascript">
    $(document).ready(function () {
        
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.datetime-picker').datetimepicker({
            step: 5
        });

    });
</script>